.contact-wrapper{
  height: 100vh;
  width: 100vw;
  background-color: #EDF4F4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', arial, sans-serif;
}

.contact-background{
  position: absolute;
  background-image: url('../img/code.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  height: 100%;
  width: 100%;
}

.contact-container{
  height: 30%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header{
  height: 40%;
  font-size: 50px;
  color: #000;
}

.contact-email{
  height: 40%;
  display: flex;
  justify-content: space-around;
}

.contact-buttons{
  height: 30%;
  width: 500px;
  display: flex;
  justify-content: space-around;
}

button{
  z-index: 200;
  height: 50%;
  width: 30%;
  background: none;
  border: 2px solid #000;
  border-radius: 10px;
  color: #000;
  font-size: 20px;
}

a{
  text-decoration: none;
  color: blue;
}

/**************************** Media Queries ***********************************/

@media (max-width: 1024px) {
  .contact-header{
    height: 40%;
    font-size: 70px;
    color: #000;
  }
  .contact-email{
    font-size: 30px;
    height: 40%;
  }
  .contact-buttons{
    height: 30%;
    width: 800px;
  }
  button{
    height: 50%;
    width: 30%;
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .contact-header{
    height: 40%;
    font-size: 70px;
    color: #000;
  }
  .contact-email{
    font-size: 30px;
    height: 40%;
  }
  .contact-buttons{
    height: 30%;
    width: 700px;
  }
  button{
    height: 50%;
    width: 30%;
    margin-left: 30px;
  }
}

@media (max-width: 414px) {
  .contact-header{
    font-size: 32px;
  }
  .contact-email{
    font-size: 20px;
    height: 40%;
  }
  .contact-buttons{
    height: 30%;
    width: 300px;
  }
  button{
    height: 50%;
    width: 30%;
    margin-left: 0px;
    font-size: 15px;
  }
}
